@charset "UTF-8";
section#conteudo{
    width: 1000px;
    margin: auto;
}
iframe#framespecs{
    width: 370px;
    height: 300px;
    border: none;
    overflow: hidden;
}
iframe#framespecs::-webkit-scrollbar{
    display: none;
}